<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminal of Goss</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <!-- HEADER START -->

    <header>
        <h1>Terminal</h1>
        <h2>Welcome, {{ this_user.first_name }}.</h2>
        <nav class="upper flx gap-2 mb italic">
            <span>
                <a href="/user/{{ this_user.id }}/dashboard">dash of goss</a>
            </span>
            <span>
                <a href="/login">logout</a>
            </span>
        </nav>

    </header>
    <!-- HEADER END -->




    <!-- FLASH VALIDATION MESSAGES-->

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flx alert col gap-1 mb">
                {% for message in messages %}
                        <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}



    <main>
        <div class="flx row gap-4">



            <!-- ADD GOSS FORM -->

            <form action="/user/{{ this_user.id }}/add_goss" method="POST" class="flx col gap-1 pd-10 big-section">
                <label for="post_title">Name your piece of hot goss:
                    <input type="text" name="post_title">
                </label>

                <label for="post_category">Type of goss:
                    <select name="post_category" id="post_category">
                        <option value="job lead">job lead</option>
                        <option value="boss goss">boss goss</option>
                        <option value="tech tool goss">tech tool goss</option>
                        <option value="mentor">mentor/mentee</option>
                    </select>
                </label>

                <label for="post_text">Spill it:
                </label>
                <textarea type="textarea" name="post_text" rows="20"></textarea>

                <label for="post_title">TLDR:
                    <input type="text" name="tldr">
                </label>

                <div>
                    <button type="submit">dish it</button>
                </div>
            </form>

            <!-- FORM END-->




        </div>    
    </main>
</body>
</html>