<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminal of Goss</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <!-- HEADER START -->

    <header>
        <h1>Terminal</h1>
        <h2>Welcome, "{{ this_user.first_name }}..."</h2>
        <nav class="upper flx gap-2 mb italic">
            <span>
                <a href="/user/{{ this_user.id }}/goss/add">create a new post</a>
            </span>
            <span>
                <a href="/login">logout</a>
            </span>
        </nav>

    </header>
    <!-- HEADER END -->




    <!-- FLASH VALIDATION MESSAGES-->

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flx alert col gap-1 mb">
                {% for message in messages %}
                        <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}



    <main>
        <div class="flx row gap-4">



            <!-- LATEST GOSS -->

            <section class="flx col gap-1 pd-10" id="big-section">
                <h2 class="upper mb text-center italic">here's the latest hot goss:</h2>
                <div>
                    <h2>Lorem ipsum</h2>
                    <p>Eveniet, hic tenetur? Voluptates ipsa sit quam exercitationem ipsum eligendi possimus in accusamus libero dolor, facere natus, quidem magni quasi, maxime porro!</p>
                </div>

                <div>
                    <h2>Lorem ipsum</h2>
                    <p>Eveniet, hic tenetur? Voluptates ipsa sit quam exercitationem ipsum eligendi possimus in accusamus libero dolor, facere natus, quidem magni quasi, maxime porro!</p>
                </div>

                <div>
                    <h2>Lorem ipsum</h2>
                    <p>Eveniet, hic tenetur? Voluptates ipsa sit quam exercitationem ipsum eligendi possimus in accusamus libero dolor, facere natus, quidem magni quasi, maxime porro!</p>
                </div>


                <div>
                    <button type="submit">
                        add your goss!
                    </button>
                </div>
            </section>
            <!-- SECTION END-->



            <!-- MY GOSS -->

            <section class="flx col gap-1 pd-10" id="sml-section">
                <h2 class="upper mb text-center italic">my goss:</h2>
                <!-- or should we have this be a little form where you add goss right here and see it metriculate to the top of the list? -->
                <div>
                    <label for="goss">goss: </label>
                    <input type="text" name="goss-title">
                </div>

                <div>
                    <label for="goss-description">spill it...: </label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>

                <div>
                    <button type="submit" >dish it</button>
                </div>
            </section>
            <!-- SECTION END -->

        </div>    
    </main>
</body>
</html>