<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminal of Goss</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <!-- HEADER START -->

    <header>
        <h1>Terminal</h1>

        <h2>Welcome, {{ this_user.first_name }}.</h2>

        <nav class="upper flx gap-2 mb italic">

            <span>
                <a href="/user/{{ this_user.id }}/dashboard">dash of goss</a>
            </span>

            <span>
                <a href="/logout">logout</a>
            </span>
        </nav>

    </header>

    <!-- HEADER END -->




    <main>
        <div class="flx col gap-1 pd-10 big-section">

            <h2>{{ post.post_title }}</h2>

            <h4>type of goss: {{ post.post_category }}</h4>

            <p>{{ post.post_text }}</p>

        </div>    
    </main>

    <footer class="flx gap-2">
        <a  href="/user/{{ this_user.id }}/goss/add">add new piece of hot goss</a>

        <a  href="/delete/{{ post.id }}">delete</a>

        <a  href="/user/{{ this_user.id }}/goss/{{ post.id }}/edit">edit</a>
    </footer>

</body>
</html>