/*******************************************/
/*! RESET
/*******************************************/
/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
    border: none;
	border-collapse: collapse;
	border-spacing: 0;
}
html * {
    box-sizing: border-box;
}
/*******************************************/
/*! RESPONSIVE FONT SIZING
/*******************************************/
html {
    font-size: 62.5%;
}
body {
    font-size: 1.8rem;
}
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.8rem;
}
button{
    font-size: 2rem;
}
/*******************************************/
/*! FONT FAMILIES
/*******************************************/
body *{
    font-family: monospace;
}
/*******************************************/
/*! TEXT ALIGN
/*******************************************/
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
/*******************************************/
/*! BACKGROUND COLORS
/*******************************************/
html {
    background-color: #000000;
}
input{
    background-color: #372f2f;
}
button{
    background-color: #ff00c8;
}
button:hover{
    background-color: #52FD61;
}
.alert{
    background-color: #ff0000;
}
/*******************************************/
/*! COLOR
/*******************************************/
body{
    color: #52FD61;
}
.neon-green{
    color: #52FD61;
}
.neon-yellow{
    color: #e9ff5c;
}
.neon-pink{
    color: #ff00c8;
}
.very-light-grey{
    color: #ffffff;
}
.red{
    color: #ff0000;
}
.black{
    color: #261b1b;
}
.medium-grey{
    color: #372f2f;
}
button{
    color: #ffffff;
}
button:hover{
    color: #261b1b;
}
/*******************************************/
/*! LAYOUT
/*******************************************/
.flx{
    display: flex;
}
.row{
    flex-direction: row;
}
.col{
    flex-direction: column;
}
.flx-start{
    justify-content: flex-start;
}
.gap-1 {
    gap: 1rem;
}
.gap-2 {
    gap: 2rem;
}
.gap-3 {
    gap: 3rem;
}
.gap-4 {
    gap: 4rem;
}
.gap-5 {
    gap: 5rem;
}
/*******************************************/
/*! WIDTHS & HEIGHTHS
/*******************************************/
input{
    width: 100%;
    height: 40px;
}
button{
    width: 100%;
}
#login,
#reg{
    width: 1360px;
}
#big-section{
    width: 70%;
}
#sml-section{
    width: 30%;
}
/*******************************************/
/*! PADDING & MARGIN
/*******************************************/
body *{
    padding: 20px;
}
.mt{
    margin-top: 20px;
}
.mb{
    margin-bottom: 20px;
}
/*******************************************/
/*! BORDERS
/*******************************************/
body *{
}
form{
    border: 4px dashed #52FD61;
}
input{
    border: 1px solid #52FD61;
}
button{
    border: 1px solid #e9ff5c;
}
/*******************************************/
/*! BLINKING CURSOR SVG
/*******************************************/